body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table{
  background-color: lightblue;
  border-width: 2px;
  border-style: solid;
  border-color: slategray;
}

thead{
  text-align: center;
  font-weight: 600;
}

tbody{
  border-width: 1px;
  border-style: solid;
  border-color: slategray;
}

label{
  width: 125px !important;
  display: block !important;
  white-space: nowrap !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* - Some styles borrowed from w3schools.com - */

#views {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#views td, #views th {
  border: 1px solid rgb(206, 198, 198);
  padding: 8px;
}

#views tr:nth-child(even){background-color: #ededed;}

#views tr:hover {background-color: #ddd;}

#views th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

#containers {
  height: 225px;
  width: 1250px;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: left;
  padding: 0px;
}
